FormatStyle: file

Checks:
    "bugprone-*,clang-analyzer-*,cppcoreguidelines-*,hicpp-*,misc-*,modernize-*,performance-*,portability-*,readability-*,
    -*-magic-numbers,
    -*-non-private-member-variables-in-classes,
    -*-special-member-functions,
    -bugprone-easily-swappable-parameters,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-pro-type-static-cast-downcast,
    -modernize-use-nodiscard,
    -modernize-use-trailing-return-type,
    -portability-avoid-pragma-once,
    -readability-avoid-unconditional-preprocessor-if,
    -readability-function-cognitive-complexity,
    -readability-identifier-length,
    -readability-redundant-access-specifiers"

CheckOptions:
    misc-include-cleaner.MissingIncludes: false
    readability-identifier-naming.DefaultCase: "camelBack"
    readability-identifier-naming.NamespaceCase: "CamelCase"
    readability-identifier-naming.ClassCase: "CamelCase"
    readability-identifier-naming.ClassConstantCase: "CamelCase"
    readability-identifier-naming.EnumCase: "CamelCase"
    readability-identifier-naming.EnumConstantCase: "CamelCase"
    readability-identifier-naming.MacroDefinitionCase: "UPPER_CASE"
    readability-identifier-naming.ClassMemberPrefix: "m_"
    readability-identifier-naming.StaticConstantPrefix: "s_"
    readability-identifier-naming.StaticVariablePrefix: "s_"
    readability-identifier-naming.GlobalConstantPrefix: "g_"
    readability-implicit-bool-conversion.AllowPointerConditions: true
