[submodule "libraries/quazip"]
	path = libraries/quazip
	url = https://github.com/stachenov/quazip.git
[submodule "libraries/tomlplusplus"]
	path = libraries/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "libraries/filesystem"]
	path = libraries/filesystem
	url = https://github.com/gulrak/filesystem
[submodule "libraries/libnbtplusplus"]
	path = libraries/libnbtplusplus
	url = https://github.com/PlaceholderMC/libnbtplusplus.git
