Thumbs.db
*.kdev4
.user
.directory
resources/CMakeFiles
resources/MultiMCLauncher.jar
*~
*.swp
html/

# Project Files
*.pro.user
CMakeLists.txt.user
CMakeLists.txt.user.*
/.project
/.settings
/.idea
cmake-build-*/
Debug

# Build dirs
build
/build-*

# Ctags File
tags

# YouCompleteMe config stuff.
.ycm_extra_conf.*

#OSX Stuff
.DS_Store

branding/
secrets/
