[submodule "libraries/quazip"]
	path = libraries/quazip
	url = https://github.com/stachenov/quazip.git
[submodule "libraries/tomlplusplus"]
	path = libraries/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "libraries/filesystem"]
	path = libraries/filesystem
	url = https://github.com/gulrak/filesystem
[submodule "libraries/libnbtplusplus"]
	path = libraries/libnbtplusplus
	url = https://github.com/PrismLauncher/libnbtplusplus.git
[submodule "libraries/zlib"]
	path = libraries/zlib
	url = https://github.com/madler/zlib.git
[submodule "libraries/extra-cmake-modules"]
	path = libraries/extra-cmake-modules
	url = https://github.com/KDE/extra-cmake-modules
[submodule "libraries/cmark"]
	path = libraries/cmark
	url = https://github.com/commonmark/cmark.git
[submodule "flatpak/shared-modules"]
	path = flatpak/shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "libraries/karchive"]
	path = libraries/karchive
	url = https://invent.kde.org/frameworks/karchive.git
