Thumbs.db
.kdev4
.user
.directory
resources/CMakeFiles
resources/MultiMCLauncher.jar
*~
*.swp
html/

# Project Files
MultiMC5.kdev4
MultiMC.pro.user
CMakeLists.txt.user
CMakeLists.txt.user.*
/.project
/.settings

# Build dirs
build
/build-*

# Ctags File
tags

# YouCompleteMe config stuff.
.ycm_extra_conf.*

#OSX Stuff
.DS_Store
