[Desktop Entry]
Categories=Game;
Exec=/opt/multimc/run.sh
Icon=/opt/multimc/icon.svg
Keywords=game;
MimeType=
Name=MultiMC 5
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
