[Desktop Entry]
Version=1.0
Name=MultiMC
GenericName=MultiMC
Comment=Free, open source launcher and instance manager for Minecraft.
Type=Application
Terminal=false
Exec=multimc
Icon=multimc
Categories=Game
